body{
    font-family:'Segoe UI';
    color: #333;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    background-color: hsla(203.53846153846155, 82%, 30%, 1);
    background-image: radial-gradient(circle at 102% 80%, hsla(267.62589928057554, 67%, 59%, 1) 0%, transparent 40.308866813608354%), radial-gradient(circle at 39% 44%, hsla(203.2710280373832, 89%, 46%, 1) 0%, transparent 42.69144621670061%);
    background-blend-mode: normal, normal;

}
h1{
   font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow:
         1px  1px 0 white;
}
label{
    font-weight: bold;
    font-size: 14px;
}



#t1{
    margin-left: 65px;
}
#t2{
    margin-left: 65px;
}
.logo{
     width: 80px;
      position: relative;
    top: 20px;
    left: 5px;
    margin:  auto;
    display: auto;  
    gap: 10px; /* espacio entre la imagen y el texto */
    justify-content: center;
   
    
}
.button-regresar button{
    background-color: rgb(255, 51, 51);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;    
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-regresar button:hover {
    background-color: red;
    transform: scale(1.07);
    font-size: 15px;
    color: rgb(24, 2, 2);

}
.fieldset {
    
    border: 1px solid #ccc;
    padding: 50px;
    margin: 30px auto;
    
    border-radius: 8px;
    background-color: rgb(121, 180, 219);
    background-image: radial-gradient(circle at 102% 80%, rgb(211, 185, 242)0%, transparent 40.308866813608354%),radial-gradient(circle at 39% 44%, rgb(140, 200, 238) 0%, transparent 42.69144621670061%);
    background-blend-mode: normal, normal;
    max-width: 400px;
   

    
    
}