{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eliminar Vehiculos</title>
    <link rel="stylesheet" href="{% static 'vehiculo/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head> 
<body>
 {% if messages %}
  {% for message in messages %}
    <div class="mensaje-de-alerta">
      {{ message }}
      <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
  {% endfor %}
{% endif %}


<div class="tira-celeste">
<p class="text-end text-muted" style="text-align: right; margin: 10px;">
    Bienvenido, {{ request.user.username }} |
    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm" style="color: white ">Cerrar Sesión <i class="bi bi-box-arrow-right"></i></a>
</p>
   <img src="{% static 'vehiculo/images/logo.png' %}" alt="" class=""/>
   </div>
   
    <div>
       <div class="titulo-con-boton">
            <div class="button-regresar"> 
                <button type="button" onclick="window.location.href='{% url 'gestionarvehiculo' %}'">Regresar <i class="bi bi-box-arrow-left"></i></button>
                
            </div>
            <h1><img src="{% static 'vehiculo/images/buscar.png' %}" alt="" class="logo"> Eliminar Vehículos</h1>
        </div>

        <!-- FORMULARIO DE BÚSQUEDA -->
        <form method="GET" >
            <fieldset class="fieldset">
                <legend>Realizar búsqueda:</legend>
                <div class="form-group">
                    <div class="form-linea">
                        <label for="marca">Marca:</label>
                        <select name="marca" id="marca">
                            <option value="">--Seleccionar Marca--</option>
                            <!-- Opciones dinámicas aquí -->
                                {% for m in marcas %}
                              <option value="{{ m }}" {% if request.GET.marca == m %}selected{% endif %}>{{ m }}</option>
                              {% endfor %} 
                        </select>
                    </div>

                    <div class="form-linea">
                        <label for="modelo">Modelo:</label>
                        <select name="modelo" id="modelo">
                            <option value="">--Seleccionar Modelo--</option>
                            <!-- Opciones dinámicas aquí -->
                            {% for m in modelos %}
                              <option value="{{ m }}" {% if request.GET.modelo == m %}selected{% endif %}>{{ m }}</option>
                              {% endfor %} 
                        </select>
                    </div>

                    <div class="form-linea">
                        <label for="anio">Año:</label>
                        <input type="number" id="anio" name="anio" min="2000" max="2025" value="{{ request.GET.anio }}" />
                    </div>

                    <div>
                        <h2>NOTA: Puede buscar por marca, modelo, año o combinarlos</h2>
                    </div>

                    <div class="button-buscar">
                        <button class="bi bi-search" type="submit"> Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <!-- RESULTADOS DE LA BÚSQUEDA -->
        <form method="POST"  style="display:inline;">
           {% csrf_token %}
        <fieldset class="fieldset">
            <legend>Resultados de la búsqueda</legend>
            <div class="button-regresar">
                <button class="bi bi-trash" type="submit" onclick="return confirm('¿Seguro que deseas eliminar este vehículo?');" > Eliminar</button>
         </div>
            <div class="form-group">
                <table id="tablaVehiculo">
                    <thead>
                        <tr>
                           
                            <th>Id</th>
                            <th>Año</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Tipo de vehículo</th>
                            <th>Transmisión</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehiculos %}
                        <tr>
                            
                            <td>{{ v.id_auto}}</td>
                            <td>{{ v.anio }}</td>
                            <td>{{ v.modelo }}</td>
                            <td>{{ v.marca }}</td>
                            <td>{{ v.tipo }}</td>
                            <td>{{ v.transmision }}</td>
                            <td>
                                <input type="radio" name="radio_seleccionar" value="{{ v.id_auto }}" required/>
                            </td>
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No se encontraron vehículos.</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table><br>
            </div>
        </fieldset>
        </form>
    </div>
     <script>
    const marcaModelos = {{ marca_modelos|safe }};

    document.addEventListener("DOMContentLoaded", function() {
        const marcaSelect = document.getElementById("marca");
        const modeloSelect = document.getElementById("modelo");

        marcaSelect.addEventListener("change", function() { /*   cada ves que se cambia la marca, se actualiza el combo del modelo*/
            const marcaSeleccionada = this.value; // Obtener la marca seleccionada

            modeloSelect.innerHTML = '<option value="">--Seleccionar Modelo--</option>'; // Limpiar el combo de modelos

            if (marcaSeleccionada && marcaModelos[marcaSeleccionada]) {
                marcaModelos[marcaSeleccionada].forEach(function(modelo) {
                    const option = document.createElement("option");
                    option.value = modelo;
                    option.textContent = modelo;
                    modeloSelect.appendChild(option);
                });
            }
        });
    });
</script>
</body>
</html>
